{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
   {% block content %}
    <div class="wrapper">
       <div class="section">
    <div class="top_navbar">
      <div class="hamburger">
        <a href="#" id="sidebar-toggle">
    <i class="fas fa-bars"></i>
  </a>
      </div>
    </div>
    <div class="container">
      <div class="search-bar">
        <input style="margin: 15px; " placeholder="Search" name="search" id="search" />
      </div>
    <table class="table">
          <thead>
            <tr>
              <th>Patient</th>
              <th>Doctor</th>
              <th>Ratings</th>
              <th>Feedback</th>
            </tr>
          </thead>
          <tbody>
            {% if ratings%}
            {% for rating in ratings %}
            <tr>
              <td>{{ rating.Patient }}</td>
              <td>Dr. {{ rating.Employee.Fnames }} {{ rating.Employee.Lname }}</td>
              <td>{{ rating.Rate }}</td>
              <td>{{ rating.Feedback }}</td>
            
            </tr>
            {% endfor %} {% endif %}
          </tbody>
        </table>
    </div>
  </div>
        <div class="sidebar">
            <div class="profile">
              <img src="{% static 'images/profile.png' %}" alt="Image">
                <h3>Tlou</h3>
                <p>Admin</p>
            </div>
            <ul>
                <li>
                    <a href="#" >
                        <span class="icon"><i class="fas fa-home"></i></span>
                        <span class="item">Home</span>
                    </a>
                </li>
                <li>
                    <a href="dashboards">
                        <span class="icon"><i class="fas fa-desktop"></i></span>
                        <span class="item">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="doctors_list">
                        <span class="icon"><i class="fas fa-user-friends"></i></span>
                        <span class="item">Doctors</span>
                    </a>
                </li>
              
                <li>
                    <a href="index">
                        <span class="icon"><i class="fas fa-edit"></i></span>
                        <span class="item">Appointments</span>
                    </a>
                </li>
                <li>
                    <a href="admin1" class="active">
                        <span class="icon"><i class="fas fa-chart-line"></i></span>
                        <span class="item">Feedback Report</span>
                    </a>
                </li>
             
                <li>
                    <a href="#">
                        <span class="icon"><i class="fas fa-cog"></i></span>
                        <span class="item">Settings</span>
                    </a>
                </li>
            </ul>
        </div>
        
    </div>
 {% endblock %}
</body>
</html>